    </div>
    <footer class="footer">
    	<div class="container">
	    	<br /><br /><br />
	    	<a href="https://twitter.com/brntlong"><i class="fa fa-twitter"></i></a>
	    	&nbsp;&nbsp;&nbsp;
	    	<a href="https://www.linkedin.com/in/brentlonglink/"><i class="fa fa-linkedin"></i></a>
	    	&nbsp;&nbsp;&nbsp;
	    	<a href="https://github.com/drquinn"><i class="fa fa-github"></i></a>
	    	<br /><br /><br /><br />
	    </div>
    </footer>




    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25073664-1']);
	  _gaq.push(['_setDomainName', 'bearprocess.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  </body>
</html>
